// font-color
$base-font-color:#3E3E3E;
$footer-font-color:#E3E3E3;
$top-category-color:#8D8D8D;

// color
$base-lightblue-color:#D8E1FF;
$base-red-color:#D91E31;
$base-blue-color:#01B3A7;
$error-color:#F0CDD0;
$twitter:#1DA1F2;
$link-color:#1592E6;
$facebook:#3B5998;
$instagram:#C13584;

// bg color
$bg-color-gray:#F3F3F3;

// border
$base-border-color:#CECDCD;
$error-border:#E2E2E2;

// btn
$btn-border:#707070;
$top-btn-bgc:#6A6A6A;
$h2-bg-color:#EBEBEB;
$tag-btn-color:#808080;

// shadow
$shadow-color:#3E3E3E33;
$comments-shadow:#00000029;

// footer
$footer-light-color:#868686;
$footer-dark-color:#464646;